@{
    ViewBag.Title = "Contact info";
    ViewBag.Message = "You can use this information if you want to contact us.";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    Chornovola 59, fifth floor<br />
    Lviv, Lviv region 79058 <br />
    <abbr title="Phone">Phone number:</abbr>
    095-789-456-11
</address>

<address>
    <strong>Support:</strong>   <a href="mailto:http://academy.binary-studio.com/">academy.binary-studio.com</a><br />
</address>