@{
    ViewBag.Title = "About us";
    ViewBag.Message = "We are independent forecasting service which provides you with up-to-date information";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<p>If you have some complains or suggestions of how we could make this service better - please contact us.</p>
<p>Contact info is avaliable by clicking "Contact info" button.</p>
